<template>
    <div class="mt-5">
        <h1>Lançamentos do Mês.</h1>
        <table class="table table-striped"
            v-if="lancamentos.length>0"
        >
            <thead class="thead-dark">
                <th>Categoria</th>
                <th>Data Vencimento</th>
                <th>Data Pagamento</th>
                <th>Valor R$</th>
                <th></th>
            </thead>
            <tbody>
                <tr v-for="lancamento in lancamentos">
                    <td>
                        <strong>{{lancamento.descricao}}</strong><br>
                        <span class="badge badge-info">{{lancamento.categoria}}</span>
                    </td>
                    <td>{{lancamento.data_vencimento}}</td>
                    <td>{{lancamento.data_pagamento}}</td>
                    <td>
                        <span v-if="lancamento.tipo_lancamento==2" class="badge badge-success">{{lancamento.valor.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'})}}</span>
                        <span v-if="lancamento.tipo_lancamento==1" class="badge badge-dark">{{lancamento.valor.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'})}}</span>
                    </td>
                    <td></td>
                </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="2"></td>
                <td colspan="3"><strong>Total {{total.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'})}}</strong></td>
            </tr>
            </tfoot>
        </table>
        <div class="alert alert-info text-center text-black-50" v-else>
            Nenhum lançamento realizado esse mês.
        </div>
    </div>
</template>

<script>
    export default {
        name: "lancamentos-table-vue",
        props:['registros'],
        data(){
            return {
                lancamentos: this.registros,
                total: 0.00
            }
        },
        created(){
            let that = this;
            this.calcularTotal();
            Echo.channel('lancamentos').listen('LancamentosSend', ({message}) => {
                that.lancamentos.push(message);
                that.calcularTotal();
            });
        },
        methods:{
            calcularTotal(){
                let debito  = 0;
                let credito = 0;
                for(let i = 0;i<this.lancamentos.length;i++){
                    debito  += (this.lancamentos[i].tipo_lancamento==1)?this.lancamentos[i].valor:0;
                    credito += (this.lancamentos[i].tipo_lancamento==2)?this.lancamentos[i].valor:0;
                }
                this.total = credito - debito;
            }
        }
    }
</script>

<style scoped>

</style>
