<template>
    <div>
        <h3 v-for="title in titles">{{title}}</h3>
    </div>
</template>

<script>
    export default {
        name: "message-vue",
        data(){
            return {
                titles: [
                    'Message Socket VUE.',
                    'Message Socket VUE. 2',
                    'Message Socket VUE. 3',
                ]
            }
        },
        created() {
            let that = this;
            // Registered client on public channel to listen to MessageSent event
            Echo.channel('public').listen('MessageSendSocket', ({message}) => {
                that.titles.push(message);
            });
        }
    }
</script>

<style scoped>

</style>
